<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SpringMVC_HRM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 配置全局属性，用于加载数据 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext-*.xml</param-value>
  </context-param>
	
  <!-- 配置中文编码的过滤器 -->
  <filter>
  	<filter-name>encod</filter-name>
  	<filter-class>com.gec.filter.EncodingFilter</filter-class>
  </filter>  
  <filter-mapping>
  	<filter-name>encod</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 配置SpringMVC核心控制类
  		servlet-name 中的springmvc 可以直接读取文件夹下的 springmvc-servlet.xml的配置文件 -->
  <!-- DispatcherServlet前端控制器 -->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<!-- action和do结尾的请求都可以进入springmvc -->
  	<url-pattern>*.action</url-pattern>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>